<div class="card is-clickable">
    <div class="card-image">
        <figure class="image m-auto" style="width:60%">
            <img src="@Bird.ImageUrl" alt="@Bird.Name">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <h1 class="title is-size-4">@Bird.Name <span class="tag is-primary">@Bird.AmountOfSpots</span></h1>
        </div>
    </div>
</div>