@page "/"
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image">
                            <img src="https://i.redd.it/1vusd68ev5171.jpg" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Birdspotter.
                        </h1>
                        <h2 class="subtitle is-4">
                            Everyone knows, that the BIRD is the word!
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a class="button is-medium is-primary is-outlined" href="birds">
                                Show available birds
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
